<!DOCTYPE html>
<html>
<head>
<script src="/js/jquery-3.6.0.js"></script>
<style>
table, th, td{
	border : 1px solid black;
	text-align : center;
}
.btn{
	font-size : 1.2em;
}
</style>
<meta charset="UTF-8">
<title>회원관리</title>
</head>
<body>
<table>
	<tr>
		<th>ID</th>
		<th>PW</th>
		<th>별명</th>
		<th>성별</th>
        <th>생년월일</th>
        <th>키</th>
        <th>몸무게</th>
	</tr>
		{% for user in userList%}
		<tr>
			<td>
				<a href="javascript:fn_detail(
				'{{user.CLIENT_ID}}','{{user.CLIENT_PW}}','{{user.CLIENT_NICK}}','{{user.CLIENT_SEX}}','{{user.CLIENT_BIRTH}}','{{user.CLIENT_HEIG}}','{{user.CLIENT_WEIG}}'
				)">{{user.CLIENT_ID}}</a>
			</td>
			<td>{{user.CLIENT_PW}}</td>
			<td>{{user.CLIENT_NICK}}</td>
			<td>{{user.CLIENT_SEX}}</td>
			<td>{{user.CLIENT_BIRTH}}</td>
			<td>{{user.CLIENT_HEIG}}</td>
			<td>{{user.CLIENT_WEIG}}</td>
		</tr>
		{% endfor %}
</table><br/>
<table>
	<tr>
		<th>ID</th>
		<td>
			<input type="text" id="CLIENT_ID">
		</td>
	</tr>
	<tr>
		<th>PW</th>
		<td>
			<input type="text" id="CLIENT_PW">
		</td>
	</tr>
	<tr>
		<th>별명</th>
		<td>
			<input type="text" id="CLIENT_NICK">
		</td>
	</tr>
	<tr>
		<th>성별</th>
		<td>
			<input type="text" id="CLIENT_SEX">
		</td>
	</tr>
	<tr>
		<th>생년월일</th>
		<td>
			<input type="text" id="CLIENT_BIRTH">
		</td>
	</tr>
	<tr>
		<th>키</th>
		<td>
			<input type="text" id="CLIENT_HEIG">
		</td>
	</tr>
	<tr>
		<th>몸무게</th>
		<td>
			<input type="text" id="CLIENT_WEIG">
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<input onclick="fun_add()" id="add" class="btn" type="button" value="추가">
			<input onclick="fun_mod()"id="mod" class="btn" type="button" value="수정">
			<input onclick="fun_del()"id="del" class="btn" type="button" value="삭제">
		</td>
	</tr>
</table>
<script>
	function fun_add(){
		const ID = document.getElementById("CLIENT_ID").value
		const PW = document.getElementById("CLIENT_PW").value
		const nick = document.getElementById("CLIENT_NICK").value
		const sex = document.getElementById("CLIENT_SEX").value
		const birth = document.getElementById("CLIENT_BIRTH").value
		const hei = document.getElementById("CLIENT_HEIG").value
		const wei = document.getElementById("CLIENT_WEIG").value
		
		var param = {
			'CLIENT_ID' : ID,
			'CLIENT_PW' : PW,
			'CLIENT_NICK' : nick,
			'CLIENT_SEX' : sex,
			'CLIENT_BIRTH' : birth,
			'CLIENT_HEIG' : hei,
			'CLIENT_WEIG' : wei
		}
		
		$.ajax({
			type : 'POST',
			url : '/ins.ajax',
			data : JSON.stringify(param),
			dataType : 'JSON',
			contentType : "application/json",
			success : function(data){
				location.reload()
			},
			error : function(request, status, error){
				
			}
		})
		
	}
	function fun_mod(){
		const empno = document.getElementById("empno").value
		const name = document.getElementById("name").value
		const department = document.getElementById("department").value
		const phone = document.getElementById("phone").value
		var param = {
			'empno' : empno,
			'name' : name,
			'department' : department,
			'phone' : phone
		}
		
		$.ajax({
			type : 'POST',
			url : '/mod.ajax',
			data : JSON.stringify(param),
			dataType : 'JSON',
			contentType : "application/json",
			success : function(data){
				location.reload()
			},
			error : function(request, status, error){
				
			}
		})
	}
	function fun_del(){
		const empno = document.getElementById("empno").value
		const name = document.getElementById("name").value
		const department = document.getElementById("department").value
		const phone = document.getElementById("phone").value
		var param = {
			'empno' : empno,
			'name' : name,
			'department' : department,
			'phone' : phone
		}
		
		$.ajax({
			type : 'POST',
			url : '/del.ajax',
			data : JSON.stringify(param),
			dataType : 'JSON',
			contentType : "application/json",
			success : function(data){
				location.reload()
			},
			error : function(request, status, error){
				
			}
		})
	}
	function fn_detail(empno, name, department, phone){
		var obj_empno = document.getElementById("empno");
		var obj_name = document.getElementById("name");
		var obj_department = document.getElementById("department");
		var obj_phone = document.getElementById("phone");
		
		obj_empno.value=empno;
		obj_name.value=name;
		obj_department.value=department;
		obj_phone.value=phone;
	}
</script>
</body>
</html>